<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.QuestionMapper">
	<!-- 질문 삽입하는 부분  -->
	<insert id="create">
		insert into question(title,content,writer,password)values(#{title},#{content},#{writer},#{password})
	</insert>
	<!-- 질문 목록 보여주는 부분 -->
	<select id="listAll" resultType="QuestionVO">
		<![CDATA[
		select
			qno,title,content,writer,regdate,viewcnt
		from
			question
		where qno>0
		order by qno desc,regdate desc
		]]>
	</select>
	<!-- 상세페이지 받아오는 부분 -->
	<select id="read" resultType="QuestionVO">
		select qno,title,content,regdate,viewcnt,writer 
		from 
			question 
		where 
			qno=#{qno} and password=#{password}
	</select>
	<!-- 조회수 증가 시키기  -->
	<update id="updateViewCnt">
		update question set viewcnt=viewcnt+1
		where
			qno=#{qno}
	</update>
	<!--  조건에 맞는 게시물 삭제  -->
	<delete id="delete">
		delete from question where qno=#{qno}
	</delete>
	<!-- 자신의 게시물 수정 -->
	<update id="modify">
		update question set title=#{title},content=#{content} where qno=#{qno} 
	</update>
</mapper>